@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>No database access</h3>
<p>
    <img src="~/img/no-db-access.png" alt="No database access" />
</p>
<p>
    <strong>Check DB configuation and that you have permission to access the database</strong>
</p>
